#containerpages{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav main main main";
    height: 20vh;
}

.navReportero{
    grid-area: nav;
}
#container{
    grid-area: main;
    height: 87vh; /* ocupa todo el espacio restante */
    overflow-y: auto;
}